body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container-safari {
    font-size: 20px;
    width: 15em;
    height: 15em;
    background-color: snow;
    border-radius: 25%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 30px rgb(196, 189, 189);
}

.circle-blue {
    width: inherit;
    height: inherit;
    background: linear-gradient(
        hsl(191, 98%, 55%),
        hsl(220, 88%, 53%)
    );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}








.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    gap: 15px;
}

.buttons a {
    border-radius: 25px;
    padding: 15px;
    background: rgb(31, 36, 43);
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: 900;
}

.buttons a:hover {
    color: brown;
    box-shadow: 0 0 10px rgba(0,211,249,1);
}