*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#f8f8f8 ;
    background: linear-gradient(#1ec9ff,#2971e7);;
}

.container{
    display: flex;
    position: relative;
    width: 500px;
    height: 500px;
    background: #f2f2f2;
    border-radius: 50px;
    box-shadow: 0 30px 20px #ccc,
    0 30px 30px rgba(0,0,0,0.25),
    0 28px 0 rgba(0,0,0,0.5),
    0 50px 60px rgba(0,0,0,0.1);
}
.circle-lines img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-agujas{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 36px;
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    gap: 15px;
}

.buttons a {
    border-radius: 25px;
    padding: 15px;
    background: rgb(31, 36, 43);
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: 900;
}

.buttons a:hover {
    color: hsl(220, 88%, 53%);
    box-shadow: 0 0 10px rgba(0,211,249,1);
}